
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="test1">BÀI 1</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="store">BÀI 2</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="test3">BÀI 3</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="directive">DIRECTIVE</a>
        </li>

      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
